<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<script>
    window.onload = function () {
        var info = document.URL+"";
        if (info.indexOf("error")+1){
            alert("invalid username or password")
        }

    }
</script>
<div class = "container">
<div class="wrapper">
    <form method="POST" action="/login" class="form-signin" >
        <h3 class="form-signin-heading">Привет, парень. Не хочешь войти ? ( ͡° ͜ʖ ͡°)</h3>
        <hr class="colorgraph"><br>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
               placeholder="Username" name="username" required="" autofocus=""  />
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"  required="" />
        <button type="submit"  class="btn btn-lg btn-primary btn-block" style="margin-top:20px;">Login</button>
        <p class="message swap">
            Нету аккаунта ? Не проблема
            <a href="/registration">Завести аккаунт</a>
        </p>
    </form>
</div>
</div>
</body>
</html>
