<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 30%; margin-top: 10%; margin-left: 35%">
    <form method="POST" action="/registration">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
               placeholder="Username" name="username"/>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else but FBI.</small>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>
        <button type="submit" class="btn btn-primary" style="margin-top:20px;">Register</button>
    </form>
    <p class="message swap">
        Already registered?
        <a href="/registration">Login</a>
    </p>
</div>
</body>
</html>